.header {


    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 180px;
        border-bottom: 2px solid white;

        .header__burger-menu {
            display: none; 
        }

        .header__list {
            display: flex;
            list-style-type: none;
            gap: 47px;
            
            .header__item {
                
                
                .header__link {
                    color: white;
                    text-wrap: nowrap;
                    text-decoration: none;
                    font-family: "CirceRegular";
                }
            }
        }
        .header__search-btn {
            border: none;
            background: none;
            cursor: pointer;
        }
        .language-box {
            display: flex;
            gap: 7px;
            
            .language-box__change-btn {
                border: none;
                background: none;
                cursor: pointer;
            }
            .language-box__change-text {
                color: white;
                text-wrap: nowrap;
                font-family: "CirceRegular";
            }
        }
    }
}

@media (max-width: 1250px) {
    .header {
        .header__container {
            padding: 40px 10px;

        .header__burger-menu {
            display: none; 
        }
        }
    }
}
@media (max-width: 890px) {
    .header {
        .header__container {
            .header__list {
                gap: 10px;
                
            }
        }
    }
}
@media (max-width: 750px) {
    .header {
        .header__container {

            .header__list {
                display: none;
            }
            .header__search-btn {
                margin-left: auto;
                padding-right: 5px;
                
        }
        }
    }
}


body {
    background-color: grey;
}